@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-family: "Poiret One", sans-serif;
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}