#welcome-section {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e8e3e3d5;

  #text-box {
    width: 45%;
    padding: 2rem;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  #text-content {
    width: 45%;
    padding: 2rem;

    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
 

  .image-box {
    display: block;
    width: 30%;

    img {
      width: 80%;
      height: auto;
      border-radius: 8px;
    }
  }

  .image-box.image-mobile-hide {
    display: none !important;
  }
  
}

/* Tablet and smaller */
@media (max-width: 768px) {
  #welcome-section {
    flex-direction: column;
    padding: 1rem;

    #text-box {
      width: 100%;
      padding: 1rem;
      order: 1;

      h1 {
        font-size: 2rem;
        text-align: center;
      }
    }

    .image-box {
      display: block;
      width: 80%;
      order: 2;
      margin: 1rem auto;

      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
    }

    .image-box.image-mobile-hide {
      display: block !important;
    }

    .image-box.image-desktop-hide {
      display: none !important;
    }

    #text-content {
      width: 100%;
      order: 3;
      padding: 1rem;

      p {
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}

/* Mobile */
@media (max-width: 480px) {
  #welcome-section {
    #text-box {
      h1 {
        font-size: 1.5rem;
      }
    }

    #text-content {
      p {
        font-size: 0.9rem;
      }
    }

    .image-box {
      width: 100%;
    }
  }
}

#about-art-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  .art-image-box {
    display: block;
    width: 40%;

    img {
      width: 100%;
      height: auto;
      
    }
  }

  .art-section-text {
    width: 45%;
    padding: 2rem;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
}

/* Tablet and smaller */
@media (max-width: 768px) {
  #about-art-section {
    flex-direction: column;
    padding: 1rem;

    .art-image-box {
      width: 80%;
      margin: 1rem auto;
    }

    .art-section-text {
      width: 100%;
      padding: 1rem;
      text-align: center;

      h2 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

/* Mobile */
@media (max-width: 480px) {
  #about-art-section {
    .art-image-box {
      width: 100%;
    }

    .art-section-text {
      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
