---
import './navigation.styles.css';
---

<nav class="navContainer">
    <ul class="navList">
        <li class="heading">Burnt Dirt Art</li>
        <div class="links">
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/about"><i class="fas fa-user"></i> About</a></li>
        <li><a href="/gallery"><i class="fas fa-images"></i> Gallery</a></li>
        <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
        </div>
    </ul>
</nav>