---
import './navigation.styles.css';
---

<nav class="navContainer">
    <ul class="navList">
        <li class="heading">Burnt Dirt Art</li>
        <div class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
        </div>
    </ul>
</nav>