.navContainer {
    background-color: rgba(182, 84, 48, 0.909);
    padding: 1rem;
    height: 500px;
}

.navContainer--compact {
    height: auto;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navHeader {
    display: flex;
    
    align-items: center;
}

.heading {
    color: black;
    font-weight: 200;
    margin: 0;
    font-size: 1.5rem;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}

.navList {
    list-style-type: none;
    display: flex;
    color: black;
    text-decoration: none;
    align-items: center;
    gap: 4rem;
    padding: 3rem;
    margin: 0;
    font-weight: 200;
    margin: 0 auto;
}

.navList li {
    list-style: none;
}

.navList a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.navText {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
    color: black;
}

/* Tablet and smaller */
@media (max-width: 768px) {
    .navContainer {
        position: relative;
        overflow-x: hidden;
    }

    .navHeader {
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .navList {
        display: none;
        flex-direction: column;
        background-color: transparent;
        padding: 1rem 0;
        gap: 1rem;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .navList.active {
        display: flex;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .navHeader {
        padding: 0;
    }

    .heading {
        font-size: 1.2rem;
    }

    .navList {
        gap: 1rem;
        top: 60px;
    }

    .navList a {
        font-size: 0.9rem;
    }
}