---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="shopContainer">
        <h1>Shop</h1>
        <p>Visit my eBay store to purchase original artwork and prints: <a href="https://www.ebay.com/sch/i.html?_ssn=burnt-dirt-art" target="_blank" rel="noopener noreferrer">Burnt Dirt Art on eBay</a></p>
    </div>
</Layout>