---
import  './Footer.styles.css';
---

<div class="footerContainer">
    <div class="footerContent">
        <p>&copy; {new Date().getFullYear()} Burnt Dirt Art. All rights reserved.</p>
        <p>Follow me on 
            <a href="https://www.instagram.com/burntdirtart/" target="_blank" rel="noopener noreferrer">Instagram</a>, 
            <a href="https://www.facebook.com/profile.php?id=61582823711371" target="_blank" rel="noopener noreferrer">Facebook</a>, and 
            <a href="https://www.pinterest.com/burntdirtart/" target="_blank" rel="noopener noreferrer">Pinterest</a>
           
        </p>
    </div>


</div>