.footerContent {
    background-color: rgba(182, 84, 48, 0.909);
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;

    a{
        color: white;
        text-decoration: underline;
        text-underline-offset: 3px;
        font-weight: bold;
        transition: color 0.3s ease, text-decoration-color 0.3s ease;
    }

    a:hover {
        color: #FFE4B5;
        text-decoration-color: #FFE4B5;
        cursor: pointer;
    }
}